@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: #ececec;
  min-height: 100vh;
}

/*Hover nav link*/
.nav__link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__link:hover:after {
  width: 100%;
  right: 0;
}

@layer utilities {
  .center {
    @apply max-w-[1345px] mx-auto py-4;
  }
}
