@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/neutra-text-alt");
* {
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: #ececec;
  min-height: 100vh;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: #2b2b2b;
}
html::-webkit-scrollbar-thumb {
  background: #646464;
}

/*Hover nav link*/
.nav__link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__link:hover:after {
  width: 100%;
  right: 0;
}

.watches {
  background: no-repeat 50% 100% / contain;
  position: absolute;
  bottom: 0;
  height: 174px;
  width: 300px;
  transition: all 2.5s ease-out;
}

.btn {
  padding: 0.75rem 1.75rem;
  border: 1px solid #e4c7a5;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #9c8265;
}

/* Menu open*/
#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background: linear-gradient(227deg, rgb(37, 35, 33), rgb(22, 21, 21));
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 100;
}
#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}
@layer utilities {
  .center {
    @apply max-w-[1345px] mx-auto py-4;
  }
}
